
@media screen and (max-width: 1200px){
.navbar{
    width: 20%;
} 
.notf-no{
        top: 1.25rem;
}

.left-image-box{
    width: 40%;
    flex-wrap: nowrap;
}

.left-image-box img{
    width: 50%;
}

.image-box-text{
    font-size: 10px;
    margin-top: 10px;
}

.right-logo{
    width: 50%;
}
.left-right-card{
    width: 60%;
}

body{
    gap: 8px;
    grid-template-areas:
    "div1 div1 div1 div1 div1 div1"
    "div2 div2 div3 div3 div4 div4"
    "div6 div6 div6 div9 div9 div9"
    "div6 div6 div6 div9 div9 div9"
    "div5 div5 div5 div5 div5 div5"
    "div5 div5 div5 div5 div5 div5"
    "div5 div5 div5 div5 div5 div5"
    "div5 div5 div5 div5 div5 div5"
    "div5 div5 div5 div5 div5 div5"
    "div7 div7 div7 div10 div10 div10"
    "div7 div7 div7 div10 div10 div10"
    "div7 div7 div7 div10 div10 div10"
    "div8 div8 div8 div11 div11 div11";
    width: 80%;
}
.income-card{
    margin-left: 0;
    padding-block: 50px;
}
.activity-card{
    margin-left: 10px;
}
.table-card{
    width: 97%;
    margin-left: 10px;
    margin-block: 15px;
}
.account-summery{
    margin-top: 0;
    margin-left: 0;
    padding-block: 75px;
}
.receipt-card{
    margin-left: 10px;
}
}

@media screen and (max-width: 992px){
    body{
        width: 100%;
    }
    .navbar{
        display: none;
    }
}


@media screen and (max-width: 768px){
    .notf-no{
        top: 2.3rem;
}

.left-image-box{
    margin-top: 20px;
    width: 50%;
    height: 70%;
    flex-wrap: nowrap;
}

.left-image-box img{
    width: 55%;
    
}

.image-box-text{
    font-size: 10px;
    margin-top: 10px;
}

.right-part{
    width: 60%;
}
.right-logo{
    width: 75%;
}
.left-right-card{
    width: 100%;
}
}

@media screen and (max-width: 576px){
    
    body{
    gap: 8px;
    grid-template-areas:
    "div1 div1 div1 div1 div1 div1"
    "div2 div2 div2 div2 div2 div2"
    "div3 div3 div3 div3 div3 div3"
    "div4 div4 div4 div4 div4 div4"
    "div6 div6 div6 div6 div6 div6"
    "div5 div5 div5 div5 div5 div5"
    "div7 div7 div7 div7 div7 div7"
    "div8 div8 div8 div8 div8 div8"
    "div9 div9 div9 div9 div9 div9"
    "div10 div10 div10 div10 div10 div10"
    "div11 div11 div11 div11 div11 div11";
    width: 100%;
    margin-left: 10px;
}

.card2-1,.card2-2,.card2-3{
    width: 92%;
}

.activity-card{
    width: 95%;
}
.perosnal-card-type,.perosnal-card-type2{
    margin-right: 50px;
}

.table-card{
    margin-block: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.account-summery{
    margin-top: 0;
    margin-left: 15px;
    padding-block: 75px;
    width: 92%;
}

.receipt-card,.payment-card,
.overview,.income-card,.table-card{
    margin-left: 15px;
    width: 92%;
}

.first-section{
    width: 94%;
}

.card{
    flex-direction: column;
}

.left-part{
    width: 100%;
    justify-content: space-between;
}

.right-part{
    width: 100%;
    justify-content: space-around;
}


.image-box-text{
    display: none;
}

.left-image-box{
    width: 15%;
    padding: 5px;
}

.left-image-box img{
    width: 100%;
}

button.bell-search{
    margin-top: 15px;
}

.notf-no{
    top: 1rem;
}

.right-logo{
    width: 50%;
}

.top-card-text{
    width: 45%;
    font-size: 10px;
}


}
