
@media screen and (max-width: 1200px){

.notf-no{
        top: 1.25rem;
}

.left-image-box{
    width: 50%;
    flex-wrap: nowrap;
}

.left-image-box img{
    width: 40%;
}

.image-box-text{
    font-size: 12px;
    margin-top: 10px;
}

    .third-section{
    grid-column:  1 / span 6;
    grid-row-start: 3;
    width: 105%;
}

.right-part{
    width: 60%;
}

.fourth-section{
    grid-column:  2 / span 3;
    grid-column-start: 1;
    grid-row-start: 7;
    margin-top: 2.5rem;
}
.seventh-section{
    grid-column:  2 / span 3;
    grid-column-start: 4;
    grid-row-start: 7;
}

.income-card{
    margin-top: 70px;
    margin-left: 50px;
}


.sixth-section{
    grid-column:  1 / span 3;
    grid-row-start: 9;
    margin-left: 20px;
}
.ninth-section{
    grid-column:  1 / span 3;
    grid-column-start: 4;
    grid-row-start: 9;
}

.payment-card,.overview{
    margin-top: -10px;
}


.fifth-section{
    grid-column:  1 / span 3;
    grid-column-start: 1;
    grid-row-start: 13;
}

.eightth-section{
    grid-column:  1 / span 3;
    grid-column-start: 4;
    grid-row-start: 15;
    margin-left: 15px;
    margin-top: 50px;
}
.receipt-card{
    margin-top: -4.5rem;
}

}


@media screen and (max-width: 992px){
    .navbar{
        display: none;
    }
    .first-section{
        grid-column:  1 / span 7;
        grid-column-start: 1;
        grid-row-start: 1;
        width: 115%;
    }
    
.card2-1{
    grid-column:  1 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 45px;
    width: 110%;
}


.card2-2{
    grid-column:  1 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    width: 110%;
    margin-left: 100px;
}

.card2-3{
    grid-column:  1 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
    margin-inline: 50px;
    margin-left: 150px;
    width: 110%;
}

.third-section{
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 3;
    width: 110%;
}


.fourth-section{
    grid-column:  2 / span 3;
    grid-column-start: 1;
    grid-row-start: 7;
    margin-top: 2.5rem;
}
.seventh-section{
    grid-column:  2 / span 4;
    grid-column-start: 4;
    grid-row-start: 7;
}

.income-card{
    margin-top: 70px;
    margin-left: 70px;
}


.sixth-section{
    grid-column:  1 / span 3;
    grid-row-start: 9;
    margin-left: 20px;
}
.ninth-section{
    grid-column:  1 / span 5;
    grid-column-start: 3;
    grid-row-start: 9;
    margin-left: 140px;
}

.payment-card,.overview{
    margin-top: -10px;
}

.eightth-section{
    grid-column:  1 / span 4;
    grid-column-start: 4;
    grid-row-start: 15;
    margin-left: 15px;
    margin-top: 50px;
}
.receipt-card{
    margin-top: -4.5rem;
}

}


@media screen and (max-width: 768px){

    .top-card-text{
    width: 100%;
}

.right-part{
    width: 65%;
    font-size: 10px;
}

.right-logo{
    width: 100%;
}


.left-right-card{
    width: 90%;
    margin-right: 10px;
}

.left-image-box{
    width: 60%;
    flex-wrap: nowrap;
}

.left-image-box img{
    width: 35%;
}

.image-box-text{
    font-size: 12px;
    margin-top: 10px;
}

.notf-no{
    top: 12px;
}


.first-section{
        grid-column:  1 / span 6;
        grid-column-start: 1;
        grid-row-start: 1;
        width: 135%;
    }
    
.card2-1{
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 30px;
    width: 105%;
}

.card2-2{
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 3;
    width: 105%;
    margin-left: 37px;
}

.card2-3{
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 4;
    margin-left: 37px;
    width: 105%;
}

.third-section{
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 5;
    width: 110%;
}


.fourth-section{
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 6;
    margin-top: 27rem;
}


.seventh-section{
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 7;
    margin-top: 20rem;
    width: 105%;
    margin-left: -2.5rem;
}


.sixth-section{
    grid-column:  1 / span 7;
    grid-row-start: 8;
    margin-top: 18rem;
    width: 105%;
}

.ninth-section{
    grid-column:  1 / span 7;
    grid-row-start: 9;
    margin-top: 44rem;
    width: 110%;
    margin-left: 0.1rem;
}


.fifth-section{
    /* display: none; */
    grid-column:  1 / span 7;
    grid-column-start: 1;
    grid-row-start: 10;
    margin-top: 75rem;
    margin-left: 2.5rem;
}


.eightth-section{
    display: none;
    grid-column:  1 / span 6;
    grid-column-start: 1;
    grid-row-start: 11;
} 

}

